<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="/listings"><i style="color: #fe424d;" class="fa-solid fa-dragon"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/listings/new" style="color: #000000a6;">New</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Bookmark</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              More
            </a>
            <ul class="dropdown-menu">
              <% if(!currUser) {%>
              <li><a class="dropdown-item" href="/signup">Sign Up</a></li>
              <li><a class="dropdown-item" href="login">Login</a></li>
              <% } %>
              <% if(currUser) {%>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="logout">Log out</a></li>
              <% } %>
            </ul>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-5" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-danger" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>